[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "swephR"]
	path = swephR
	url = https://github.com/rstub/swephr
	shallow = true
	registered = true
	oncran = true
